<!doctype= html>
<html>
    <head>
        <title>Yelp Hotel</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/stylesheets/main.css"></link>
    </head>
    <body>
        <nav class="navbar navbar-default mb-0">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                YelpHotel
              </a>
            </div>
            <div class= "collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <% if(!currentUser){ %>
                  <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                 <% } else{ %>
                  <li><a href="#"> Signed in as <%= currentUser.username%></a></li>
                  <li><a href="/logout">Log out</a></li>
                  <% } %>
                </ul>
            </div>
          </div>
        </nav>
        <div class="landing">
          <div class="container">
            <% if(error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){%>
            <div class="alert alert-success" role="alert">
              <%= success %>
            </div>
            <% } %>
          </div>
        

       