<% include partials/header %>
<div class="container text-center">
    <div class="jumbotron jumbotron-fluid body-mt">
      <div class="container">
        <h1 class="display-4">Welcome to Yelp Hotel</h1>
        <p class="lead">You can post reviews about Hotels you recently visited and also comment on posted hotels</p>
        <a class="btn btn-primary btn-lg btn-block" href="campgrounds">View our camping grounds</a>
        <a class="btn btn-success btn-lg btn-block" href="campgrounds/new">Add New Camp</a> 
      </div>
    </div>
</div>
<% include partials/footer %>



