<% include partials/header %>
<div class="container">
    <h1>Welcome to Yelp Hotel</h1>
    <a href="campgrounds">View our camping grounds</a>
    <a href="campgrounds/new">Add New Camp</a> 
</div>
<% include partials/footer %>



