<% include ../partials/header %>
<div class= "container">
    <header class= "jumbotron">
        <div class= "container">
            <h1>Welcome To Our Campgrounds</h1>
            <p>This is just a text </p>
            <p>
                <a class= "btn btn-primary btn-lg" href="campgrounds/new">Add New Camp</a>
            </p>
        </div>
    </header>
    <div class= "row text-center" style="display: flex; flex-wrap: wrap;">
        <%campgrounds.forEach(function(campground){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <img src= "<%= campground.image %>" style="width:100%">
                    <div class="caption">
                        <p><%= campground.name %></p> 
                    </div>
                    <p>
                    <a href="campgrounds/<%= campground._id %>" class= "btn btn-primary"> More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>